services:
    stable:
        image: local-tcgdex
        restart: unless-stopped
        environment:
            # by default the server will start a worker for each threads available
            # You can downgrade the max number of workers by changing this value
            - MAX_WORKERS=2
            - TCGCSV_PATH=/usr/src/tcgcsv
        ports:
            - 3000:4000 # You can choose any port you want
        volumes:
            - ./server/src:/usr/src/app/src
            - ./tcgcsv:/usr/src/tcgcsv:ro
